---
BasedOnStyle: Google

IndentWidth: 4

# accessor(public:, private:, etc) indent = 0
AccessModifierOffset: -4

AlignConsecutiveAssignments: false

# 80 -> 120
ColumnLimit: 120

# int* ptr;
DerivePointerAlignment: false
PointerAlignment: Left
...
